.login-page {
  height: 90vh;
}

input[type=text], select {
    width: 100%;
    margin: 0.5em auto;
    font-size: 24px;
    padding: 0.25em 0.4em;
    border-radius: 6px;
    border: none;
    background-color: #211f1f29;
  }

@media(max-width: 1024px) {

  .col-sm-12 {
    padding: 0;
  }

}


@media(max-width: 820px) {

  .login-text {
    height: 75vh;
  }

}