.icon {
    margin: 0 1em;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    fill: #00000073;
}

.icon:hover {
    fill: #000000;
}

@media(max-width: 676px) {
    .icon {
        margin: 0 0.25em;
    }
}